[client]
default_character_set=utf8mb4

[mysqld]
#设置默认时区
default-time_zone='+08:00'
#排序
collation_server=utf8mb4_general_ci
#默认编码
character_set_server=utf8mb4
#设置分词最短长度,默认2
ngram_token_size=1
#默认4
ft_min_word_len=1
#降低内存消耗
performance_schema_max_table_instances=400
table_definition_cache=400
performance_schema=off
table_open_cache=64
innodb_buffer_pool_chunk_size=64M
innodb_buffer_pool_size=64M